<html>
<header>
    <style>
        body {
            width: <%= width %>;
            height: <%= height %>;

            background-color: <%= background %>;
            color: <%= foreground %>;

            display: table-cell;
            vertical-align: middle;
            text-align: center;
            font-size: <%= width * 0.1 %>px;
        }
    </style>
</header>

<body>
    <h1><%= text %></h1>
</body>

</html>